text eol=crlf
*.gs linguist-language=Smalltalk
*.st linguist-language=Smalltalk
*.tpz linguist-language=Smalltalk
*.cls linguist-language=Smalltalk
*.pax linguist-language=Smalltalk
*.pac linguist-language=Smalltalk